.plans-container-slider{
    justify-content: center;
}

.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto  ;
}